{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <h4>Best Face of {{ category.titre }} : </h4>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Number of vote</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning">
                            <th scope="row">#1</th>
                            <td>{{ highestFace.title }}</td>
                            <td>{{ highestFace.nbVote }}</td>
                            <td><a href="{{  path('show_face', { 'faceId': highestFace.id }) }}" class="btn btn-primary">Show</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if category.faces|length %}
                    <div class="card">
                        <div class="card-header">
                            Vote for your favorite <b>{{ category.titre }} </b>:
                        </div>
                        <div class="row">
                            {% for randomFace in category.faces|shuffle %}
                                {% if loop.index < 3 %}
                                    <div class="col-md-6">
                                        <div style="height: 300px; overflow: hidden">
                                            <a href="{{  path('show_face', { 'faceId': randomFace.id }) }}">
                                                <img class="card-img-top" src="{{ asset('uploads/' ~ randomFace.imageName) }}" alt="Card image cap">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{  path('show_face', { 'faceId': randomFace.id }) }}"><h5 class="card-title">{{ randomFace.title }}</h5></a>
                                            <p class="card-text">{% if randomFace.nbVote == false %}No vote{% else %}Votes :{{ randomFace.nbVote }}{% endif %}</p>
                                            <a href="{% if app.user %} {{ path('vote', { 'faceId': randomFace.id }) }}{% else %}{{ path('admin') }}{% endif %}" class="btn btn-primary">Vote</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span>#{{ category.id }}</span><b> {{ category.titre }}</b>
                    </div>
                    <div class="card-body">
                        {% for face in category.faces %}
                            {% if face.category == category.titre %}
                                <li class="list-group-item">
                                    <a href="{{  path('show_face', { 'faceId': face.id }) }}"><h5 class="card-title">{{ face.title }}</h5></a>
                                    <a href="{{  path('show_face', { 'faceId': face.id }) }}"><p class="card-text"><img src="{{ asset('uploads/' ~ face.imageName) }}" alt="" width="100"></p></a>
                                    <p class="card-text">{{ face.content }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <br>
                <a href="{{ path('faces') }}" class="btn btn-primary">Return</a>
            </div>
        </div>
    </div>
{% endblock %}
